## Data types and structures

1.What are data structures, and why are they important?
 -> Data structures are fundamental ways of organizing and storing data within a computer system, allowing for efficient retrieval and manipulation. They are crucial for building efficient and scalable software, as they determine how data is arranged in memory and how it can be accessed and processed.

2.Explain the difference between mutable and immutable data types with examples.
 -> Mutable data types are those whose values can be changed after they are created, while immutable data types cannot be altered once they are created. Examples of mutable data types include lists and dictionaries, while examples of immutable data types include strings and tuples.

3.What are the main differences between lists and tuples in Python?
 -> The primary difference between lists and tuples in Python lies in their mutability. Lists are mutable, meaning their contents can be changed after creation, while tuples are immutable, meaning they cannot be modified once created. This difference impacts memory usage and performance, as tuples are generally more efficient and faster due to their fixed size and immutability.

4.Describe how dictionaries store data.
 -> Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.


5.Why might you use a set instead of a list in Python?
 -> Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6.What is a string in Python, and how is it different from a list?
 -> In Python, a string is a sequence of characters enclosed in single or double quotes, while a list is a sequence of items enclosed in square brackets and separated by commas. A string can only contain characters, whereas a list can hold any data type, including other lists. Additionally, strings are immutable (cannot be changed after creation), while lists are mutable (can be modified).

7.How do tuples ensure data integrity in Python?
 -> Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

8.What is a hash table, and how does it relate to dictionaries in Python?
 -> In Python, a hash table is a data structure that's used to implement dictionaries. A hash table is a way to organize data into key-value pairs, which makes it easy to find and access data quickly.

9.Can lists contain different data types in Python?
 -> However, in Python, lists can contain heterogeneous data types and objects. For instance, integers, strings, and even functions can be stored within the same list.

10.Explain why strings are immutable in Python.
 -> Python strings are "immutable" which means they cannot be changed after they are created (Java strings also use this immutable style). Since strings can't be changed, we construct *new* strings as we go to represent computed values.

11.What advantages do dictionaries offer over lists for certain tasks?
 -> Dictionaries are ideal for tasks requiring quick lookups, data mappings, and key-value associations. Lists are suitable for ordered collections, sequential processing, and scenarios where the order of elements matters.

12.Describe a scenario where using a tuple would be preferable over a list.
 -> Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

13.How do sets handle duplicate values in Python?
 -> Sets in Python are unordered collections of unique elements. By their nature, duplicates aren't allowed. Therefore, converting a list into a set removes the duplicates.

14.How does the “in” keyword work differently for lists and dictionaries?
 -> As mentioned above, the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

15.Can you modify the elements of a tuple? Explain why or why not.
 -> No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their values cannot be changed after they are created. If you attempt to change an element, you'll get a TypeError.

16.What is a nested dictionary, and give an example of its use case?
 -> A nested dictionary is a dictionary where one or more of its values are themselves dictionaries. It's like having a dictionary inside another dictionary, allowing you to store hierarchical or multi-layered data. A use case is representing an employee directory where each employee has details stored as a nested dictionary, organized by department.

17.Describe the time complexity of accessing elements in a dictionary.
 -> The time complexity of accessing an element in a dictionary is O(1) on average, which means it takes constant time regardless of the dictionary's size. This is because dictionaries are implemented as hash tables.

18.In what situations are lists preferred over dictionaries?
 -> For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
 -> hy dictionaries are unordered collection: Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
 -> A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [31]:
# Create a string with a name
name = "ChatGPT"

# Print the name
print("My name is", name)

My name is ChatGPT

In [30]:
# Define the string
text = "Hello World"

# Find and print the length of the string
print("Length of the string:", len(text))

Length of the string: 11

In [29]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [28]:
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [27]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [26]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [25]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [24]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [23]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [22]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [21]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [20]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [19]:
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)

5

In [18]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [17]:
fruits = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [15]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [14]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [13]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [12]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [11]:
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [9]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [10]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [8]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [7]:
person = {'name': 'Alice', 'city': 'Paris'}
key_exists = 'city' in person
print(key_exists)

True

In [6]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [3]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print(random_numbers)

[27, 38, 65, 80, 93]

In [2]:
# Creating a list of strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Printing the element at the third index
print(my_list[3])

date

In [33]:
# Creating two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combining the dictionaries
combined_dict = {**dict1, **dict2}

# Printing the result
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [32]:
# Creating a list of strings
my_list = ["apple", "banana", "cherry", "apple", "date"]

# Converting the list into a set
my_set = set(my_list)

# Printing the result
print(my_set)

{'cherry', 'apple', 'date', 'banana'}